*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: gilroy;
}
.main{
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1632745458663-966acebdab25?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 70%;
    height: 80%;
    background-color: rgba(151, 220, 238, 0.077);
    box-shadow: 0px 0px 20px black;
    /* border:1px solid white; */
    display: flex;
    align-items: center;
    overflow: hidden;
}
.contact{
    width: 27%;
    height: 100%;
    backdrop-filter: blur(10px);
    padding:5px 10px;
}
.nav{
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    border-bottom:1px solid rgba(128, 128, 128, 0.566);
}
.nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
}
.nav > span{
    display: flex;
    align-items: center;
    gap:12px;
}
.nav i{
    font-size: 19px;
    margin-left:5px;
}
input{
    background-color: transparent;
    border:1px solid lightgray;
    border-radius: 8px;
    padding:7px 5px;
    width: 100%;
    margin:15px 0px;
}
.friend{
    width: 100%;
    height: 89%;
    color:white;
}
.friend section{
    display: flex;
    align-items: center;
    gap:15px;
    padding:13px 0px;
    border-bottom:1px solid rgba(128, 128, 128, 0.566);
}
.friend section img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid lightgray;
    object-fit: cover;
    object-position: center;
}
.friend section p span{
    font-size: 12px;
    color:rgb(226, 226, 226);
}
.friend section:nth-child(4){
    background-color: rgba(89, 89, 89, 0.255);
    border-radius: 10px;
}

.chat{
    width: 50%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.063);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.chat nav{
    width: 100%;
    height:14%;
    background-color:rgba(26, 94, 94, 0.389);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 13px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.744);
}
.chat nav span{
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 18px;
    color:white;
}
.chat nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    object-position: center;
}
.chat nav i{
    font-size: 22px;
    margin-left:10px;
}
.message{
    width: 100%;
    height: 75%;
    overflow: hidden;
    padding: 15px;
}
.left{
    width: 50%;
    height:auto;
    text-align: left;
    padding:10px;
    margin:5px 5px;
    background-color: rgba(19, 128, 128, 0.586);
    font-size: 14px;
    color:white;
    border-top-right-radius:18px ;
    border-bottom-left-radius:18px ;
    border-bottom-right-radius:18px ;
    font-weight:400;
    font-size:14px;
    display: block;
}
.right{
    height:auto;
    padding:10px;
    margin: 2px 5px;
    background-color: rgba(14, 30, 30, 0.586);
    font-size: 14px;
    color:white;
    border-top-left-radius:18px ;
    border-bottom-left-radius:18px ;
    border-bottom-right-radius:18px ;
    font-weight:400;
    font-size:14px;
    text-align: right;
}
.message section{
    width: 100%;
    display: flex;
    justify-content: end;
}
.type-text{
    width: 100%;
    height: auto;
    background-color:rgba(26, 94, 94, 0.389);
    padding:0px 10px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.651);
}
.type-text span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type-text button{
    width: 40px;
    height: 40px;
    font-size:22px;
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
    transition:0.25s;
    padding:6px;
    border-radius: 50%;
}
.type-text button:hover{
    background-color: rgba(255, 255, 255, 0.453);
}
.type-text input{
    width: 75%;
    border-radius: 50px;
    border:1px solid white;
    color:white;
    padding: 10px;
}
::placeholder{
    color:rgb(192, 192, 192);
}

.info{
    width: 23%;
    height: 100%;
    background-color: rgba(70, 135, 171, 0.225);
    padding:40px 10px;
    color:white;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px black;
}
.profile{
    width: 100%;
    height: 36%;
    text-align: center;
    border-bottom:1px solid lightblue;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid white;
}
.profile > h1 > span{
    font-size: 14px;
    color:rgb(183, 255, 175);
    /* font-weight: 100; */
}
.info h4{
    font-size:16px;
    color:rgb(255, 255, 255);
    margin-top:20px;
    margin-bottom:10px;
}
.info p{
    font-size: 13px;
    padding:0px 10px;
}
